**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
**/backend.hcl
app/node_modules/
environments/dev/feature-flags.json
environments/dev/flags-v2.json
environments/prod/flags-prod-v2.json
environments/prod/create-prod-version-response.json
